[Desktop Entry]
Name=SASM
GenericName=SASM
Comment=Simple cross-platform IDE for NASM, MASM, GAS and FASM assembly languages.
Icon=io.github.dman95.SASM
Exec=sasm
Terminal=false
Type=Application
Categories=Qt;Development;IDE;
