[Desktop Entry]
Version=2.1.0
Name=SASM
GenericName=SASM
Comment=Simple crossplatform IDE for NASM assembly language
Icon=/usr/share/sasm/sasm.png
Exec=sasm
Terminal=false
Type=Application
Categories=Qt;Development;IDE;
